body, html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transform-style: preserve-3d; }

.mainSection {
  height: 100vh; }
  .mainSection .bannerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .mainSection .bannerSection .bannerImg {
      width: 300px; }
    .mainSection .bannerSection .bannerText {
      font-family: "Lobster", cursive;
      font-size: 70px;
      text-transform: lowercase;
      color: #0047AB;
      width: 640px;
      text-align: center; }

.experienceSection {
  padding: 0 15px;
  background-color: #0047AB;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .experienceSection .experienceText {
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 60px;
    font-weight: 100; }
