.small-container {
  width: 600px; }
  @media (max-width: 767px) {
    .small-container {
      width: 100%; } }

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transform-style: preserve-3d; }

.navSection {
  display: flex;
  justify-content: center; }
  .navSection .navbar {
    background-color: #0047AB;
    color: #FFF;
    width: 600px;
    height: 50px;
    border-radius: 15px;
    margin-top: 15px; }
    @media (max-width: 767px) {
      .navSection .navbar {
        width: 300px; } }
  .navSection ul.navLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px; }
    .navSection ul.navLinks li a {
      font-size: 28px;
      color: #FFF; }
      .navSection ul.navLinks li a i:hover {
        transform: scale(1.2); }

.mainSection {
  height: 100vh; }
  .mainSection .bannerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px; }
    @media (max-width: 767px) {
      .mainSection .bannerSection {
        flex-direction: column;
        margin-top: 30px; } }
    .mainSection .bannerSection .bannerImg {
      width: 300px; }
      @media (max-width: 767px) {
        .mainSection .bannerSection .bannerImg {
          width: 260px; } }
    .mainSection .bannerSection .bannerText {
      font-family: "Lobster", cursive;
      font-size: 70px;
      text-transform: lowercase;
      color: #0047AB;
      width: 640px;
      text-align: center; }
      @media (max-width: 767px) {
        .mainSection .bannerSection .bannerText {
          width: 100%;
          font-size: 40px; } }

.experienceSection {
  background-color: #0047AB;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .experienceSection .experienceText {
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 60px;
    font-weight: 100; }

.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Volkorn", serif;
  color: #0047AB;
  font-size: 28px;
  text-align: justify;
  letter-spacing: -1.5px; }
  .aboutMe img {
    width: 100px;
    margin-top: 15px; }

.cvDetails {
  display: flex;
  align-items: center;
  justify-content: center; }
  .cvDetails .cvInfo {
    font-family: "Volkorn", serif;
    color: #0047AB;
    font-size: 25px;
    text-align: justify;
    letter-spacing: -1.5px; }
  .cvDetails img {
    width: 100px; }
