
$primary-color: #0047AB;
$LobsterFont:'Lobster',cursive;
$PushsterFont:'Pushster', cursive;
$VollkornFont: 'Volkorn', serif;
$RanchersFont: 'Ranchers',cursive;

@mixin padding-15{
    padding:0 15px;
}
.small-container{
    width:600px;
    

    @media(max-width:767px){
        width:350px;
    }
}
body, html {
    scroll-behavior: smooth;
    // height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    transform-style: preserve-3d; 
  }
.navSection{
    display:flex;
    justify-content: center;
    .navbar{
        background-color: $primary-color;
        color:#FFF;
        width:600px;
        height:50px;
        border-radius: 15px;
        margin-top:15px;

        @media(max-width:767px){
            width:300px;
        }
    }
    

    ul.navLinks{
        margin:0;
        padding:0;
        list-style-type: none;
        display:flex;
        justify-content:space-between;
        padding:10px 15px;

        li a  {
            font-size:28px;
            color: #FFF;

            i:hover{
                transform: scale(1.2);
            }
        }
    }

}
.mainSection{
    height:100vh;
    .bannerSection{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top:180px;
        // position: fixed;
        // // left: 50%;
        // top: 50px;
        // transform: translate(-50%, -50%); 
        @media(max-width:767px){
            flex-direction: column;
            margin-top:30px;
        }
        
        .bannerImg{
            width:300px;   
            @media(max-width:767px){
                width:260px;
            }

            @media(max-width:1023px){
                width:300px;
            }
        }
        .bannerText{
        font-family: $LobsterFont;
        font-size: 70px;
        text-transform: lowercase;
        color: $primary-color;
        width:640px;
        text-align: center;
        // padding-top:130px;
        @media(max-width:767px){
            width:100%;
            font-size:40px;
        }

        @media(max-width:1023px){
            width:100%;
            font-size:40px;
        }
        }
        
    }
   
    
}

.experienceSection {
    background-color: $primary-color;
    height:30vh;
    display:flex;
    justify-content: center;
    align-items: center;
    @media(max-width:767px){
        height:20vh;
    }

    .experienceText{
        color:#fff;
        font-family:$LobsterFont;
        font-size:60px;
        font-weight:100;
        @media(max-width:767px){
            font-size:45px;
        }
    }

}

.aboutMe
{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:$VollkornFont;
    color:$primary-color;
    font-size:28px;
    text-align: justify;
    letter-spacing: -1.5px;
    @media(max-width:767px){
        margin-left:30px;
        margin-right:30px;
        font-size:23px;
        .small-container span{
            font-size:30px !important;
        }
    }
    img{
    width:130px;
    margin-top:15px;
    
}
}
.cvDetails{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        margin-top:10px;
    .cvInfo .date{
        font-family:$VollkornFont;
        color:$primary-color;
        font-size:20px;
        // text-align: center;
        letter-spacing: -1.5px;
        @media(max-width:767px){
            font-size:15px;
        }
        h2{
            margin-bottom:0;
            margin-top:10px;

            
        }
        @media(max-width:767px){
               .cvDetailInfo p{
                   font-size:10px !important;
               } 
        }
        
    }
    .pdfDownload {
        margin-top:15px;
    }
    a {
        color:$primary-color;
        text-decoration: none;
        font-size:12px;
        font-family: $VollkornFont;
        font-weight:600;
        // margin-top:15px;
    }
    .cvDetailInfo p{
        font-family:$VollkornFont;
        color:$primary-color;
        font-size:18px;
        margin:0;
        padding:0;
    }
    hr.divider{
        border-top: solid #0047AB42 0.5px;
        margin-top:25px;
        
    }
    img{
        width:130px;
    }
}
.portfolio {
    background-color:$primary-color;
    color:#FFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    font-family:$VollkornFont;
    font-size:28px;
    letter-spacing: -1.5px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // height:100vh;

    
}
.portfolioSection {
    background-color: #FFF;
    height:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:30px;

    .portfolioText{
        color:$primary-color;
        font-family:$LobsterFont;
        font-size:60px;
        font-weight:100;
    }

}

.box-container {
    // display:flex;
    // justify-content:center;
    // flex-wrap:wrap;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    align-items:center;
    min-height:100vh;
    font-family: $LobsterFont;
    margin-left:35px;
    margin-right:35px;
    @media(max-width:767px){
        margin-top:40px;
        grid-template-columns: 1fr;
        margin-bottom:40px;
    }
  }
  
  .box {
    position:relative;
    width:300px;
    height:400px;
    background:#fff;
    border-radius:1rem;
    box-shadow:5px 2px 11px 2px rgba(0,0,0,.3);
    overflow:hidden;
    transition:.2s ease-in-out;
    
    &:hover {
      transform: scale(1.1);
      box-shadow:8px 5px 6px 2px rgba(0,0,0,.1);
    }
    
    @media(min-width:1200px){
        &.boxDown{
            position:relative; 
            top:20px;
        }
    }
    
    
    img {
      height:100%;
      width:100%;
      object-fit:cover;
    }
    
    .caption {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      display:flex;
      justify-content:space-between;
      align-items:center;
      border-bottom-left-radius:inherit;
      border-bottom-right-radius:inherit;
      & > * {
        padding:.9rem 1rem;
      }
      
      .content {
        display:flex;
        flex-direction:column;
        gap:.2rem;
        
        span {
          font-size: 1.3rem;
          text-transform: lowercase;
          letter-spacing: 1;
        //   font-weight:bold;
        }
        small {
          font-size:12px;
          letter-spacing: 1.5;
          font-family: $VollkornFont;
        }
      }
     
    }
  }
  @media(min-width:1200px){
    .box-container > .box {
        flex:20%;
    }
  }
  
  .box1{
    .caption {
        background:#ffffff;
        color:$primary-color;
    }
  }
  
  #topButton {
    display: none;
    position: sticky;
    bottom: 20px;
    left: 93%;
    z-index: 99;
    font-size: 18px;
    border: none;
    width:50px;
    height:50px;
    outline: none;
    background-color: #0047AB42;
    color:#FFF;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
  #topButton:hover {
    background-color: #FFF;
    border:$primary-color solid;
    color:$primary-color;
  }
 
  .contactMe{
    display:flex;
    justify-content: center;
    img{
        width: 50px;
    }
  }