.small-container {
  width: 600px;
}
@media (max-width: 767px) {
  .small-container {
    width: 350px;
  }
}

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transform-style: preserve-3d;
}

.navSection {
  display: flex;
  justify-content: center;
}
.navSection .navbar {
  background-color: #0047AB;
  color: #FFF;
  width: 800px;
  height: 50px;
  border-radius: 15px;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .navSection .navbar {
    width: 300px !important;
  }
}
@media (max-width: 1024px) {
  .navSection .navbar {
    width: 650px;
  }
}
.navSection ul.navLinks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.navSection ul.navLinks li a {
  font-size: 28px;
  color: #FFF;
}
.navSection ul.navLinks li a i:hover {
  transform: scale(1.2);
}

.mainSection {
  height: 100vh;
}
.mainSection .bannerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}
@media (max-width: 767px) {
  .mainSection .bannerSection {
    flex-direction: column;
    margin-top: 30px;
  }
}
.mainSection .bannerSection .bannerImg {
  width: 300px;
}
@media (max-width: 767px) {
  .mainSection .bannerSection .bannerImg {
    width: 260px;
  }
}
@media (max-width: 1023px) {
  .mainSection .bannerSection .bannerImg {
    width: 300px;
  }
}
.mainSection .bannerSection .bannerText {
  font-family: "Lobster", cursive;
  font-size: 70px;
  text-transform: lowercase;
  color: #0047AB;
  width: 640px;
  text-align: center;
}
@media (max-width: 767px) {
  .mainSection .bannerSection .bannerText {
    width: 100%;
    font-size: 40px;
  }
}
@media (max-width: 1023px) {
  .mainSection .bannerSection .bannerText {
    width: 100%;
    font-size: 40px;
  }
}

.experienceSection {
  background-color: #0047AB;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .experienceSection {
    height: 20vh;
  }
}
.experienceSection .experienceText {
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 60px;
  font-weight: 100;
}
@media (max-width: 767px) {
  .experienceSection .experienceText {
    font-size: 45px;
  }
}

.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Volkorn", serif;
  color: #0047AB;
  font-size: 28px;
  text-align: justify;
  letter-spacing: -1.5px;
}
@media (max-width: 767px) {
  .aboutMe {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 23px;
  }
  .aboutMe .small-container span {
    font-size: 30px !important;
  }
}
.aboutMe img {
  width: 130px;
  margin-top: 15px;
}

.cvDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.cvDetails .cvInfo .date {
  font-family: "Volkorn", serif;
  color: #0047AB;
  font-size: 20px;
  letter-spacing: -1.5px;
}
@media (max-width: 767px) {
  .cvDetails .cvInfo .date {
    font-size: 15px;
  }
}
.cvDetails .cvInfo .date h2 {
  margin-bottom: 0;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .cvDetails .cvInfo .date .cvDetailInfo p {
    font-size: 10px !important;
  }
}
.cvDetails .pdfDownload {
  margin-top: 15px;
}
.cvDetails a {
  color: #0047AB;
  text-decoration: none;
  font-size: 12px;
  font-family: "Volkorn", serif;
  font-weight: 600;
}
.cvDetails .cvDetailInfo p {
  font-family: "Volkorn", serif;
  color: #0047AB;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.cvDetails hr.divider {
  border-top: solid #0047AB42 0.5px;
  margin-top: 25px;
}
.cvDetails img {
  width: 130px;
}

.portfolio {
  background-color: #0047AB;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Volkorn", serif;
  font-size: 28px;
  letter-spacing: -1.5px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolioSection {
  background-color: #FFF;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.portfolioSection .portfolioText {
  color: #0047AB;
  font-family: "Lobster", cursive;
  font-size: 60px;
  font-weight: 100;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  min-height: 100vh;
  font-family: "Lobster", cursive;
  margin-left: 35px;
  margin-right: 35px;
}
@media (max-width: 767px) {
  .box-container {
    margin-top: 40px;
    grid-template-columns: 1fr !important;
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .box-container {
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    align-content: center;
  }
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.box:hover {
  transform: scale(1.1);
  box-shadow: 8px 5px 6px 2px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .box.boxDown {
    position: relative;
    top: 20px;
  }
}
.box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.box .caption > * {
  padding: 0.9rem 1rem;
}
.box .caption .content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.box .caption .content span {
  font-size: 1.3rem;
  text-transform: lowercase;
  letter-spacing: 1;
}
.box .caption .content small {
  font-size: 12px;
  letter-spacing: 1.5;
  font-family: "Volkorn", serif;
}

@media (min-width: 1200px) {
  .box-container > .box {
    flex: 20%;
  }
}
.box1 .caption {
  background: #ffffff;
  color: #0047AB;
}

#topButton {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  left: 93%;
  z-index: 99;
  font-size: 18px;
  border: none;
  width: 50px;
  height: 50px;
  outline: none;
  background-color: #0047AB42;
  color: #FFF;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#topButton:hover {
  background-color: #FFF;
  border: #0047AB solid;
  color: #0047AB;
}

.contactMe {
  display: flex;
  justify-content: center;
}
.contactMe img {
  width: 50px;
}/*# sourceMappingURL=main.css.map */