.small-container {
  width: 900px;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .small-container {
    width: 350px;
  }
}

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  transform-style: preserve-3d;
}

body {
  overflow-y: scroll;
  width: 100%;
}

.navSection {
  display: flex;
  justify-content: center;
}
.navSection .navbar {
  background-color: #0047ab;
  color: #FFF;
  width: 800px;
  height: 50px;
  border-radius: 15px;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .navSection .navbar {
    width: 300px !important;
  }
}
@media (max-width: 1024px) {
  .navSection .navbar {
    width: 650px;
  }
}
.navSection ul.navLinks {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .navSection ul.navLinks {
    justify-content: center;
  }
}
.navSection ul.navLinks li a {
  font-size: 28px;
  color: #FFF;
}
.navSection ul.navLinks .linksWrapper {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-family: "Volkorn", serif;
  font-weight: 100;
}
.navSection ul.navLinks .linksWrapper li a {
  text-decoration: none;
}
.navSection ul.navLinks i:hover {
  font-size: 32px;
}
@media (max-width: 767px) {
  .navSection #linksAnchor {
    display: none;
  }
}
.navSection #linksAnchor li a {
  font-size: 20px;
}
.navSection #linksAnchor a:hover {
  font-size: 21px;
}

.note {
  color: #0047ab;
  background-color: #FFF;
}

.cuteNote {
  background-color: rgba(248, 233, 145, 0.7294117647);
}

.mainSection {
  height: 65vh;
}
.mainSection .bannerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  flex-flow: row-reverse;
}
@media (max-width: 768px) {
  .mainSection .bannerSection {
    flex-direction: column;
    margin-top: 30px;
  }
}
.mainSection .bannerSection .bannerImg {
  width: 300px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .mainSection .bannerSection .bannerImg {
    width: 260px !important;
  }
}
@media (max-width: 1023px) {
  .mainSection .bannerSection .bannerImg {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .mainSection .bannerSection .bannerTextWrapper {
    margin: 5px;
  }
}
.mainSection .bannerSection .bannerText {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #3e3e3e;
  width: 640px;
  text-align: justify;
}
@media (min-width: 320px) and (max-width: 767px) {
  .mainSection .bannerSection .bannerText {
    width: 100%;
    font-size: 30px !important;
    text-align: center;
  }
}
@media (max-width: 1023px) {
  .mainSection .bannerSection .bannerText {
    width: 100%;
    font-size: 40px;
  }
}
.mainSection .bannerSection .bannerText .bannerSubText {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgba(248, 233, 145, 0.7294117647);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  /* The typing effect */
  /* The typewriter cursor effect */
  font-size: 30px;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(248, 233, 145, 0.7294117647);
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgba(248, 233, 145, 0.7294117647);
  }
}
@media (max-width: 767px) {
  .mainSection .bannerSection .bannerText .bannerSubText {
    font-size: 22px;
  }
}

.small-container-about {
  width: 650px;
  padding: 20px 0;
}
@media (max-width: 767px) {
  .small-container-about {
    width: 350px;
  }
}
.small-container-about.roundedGrid {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .small-container-about.roundedGrid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.small-container-about.roundedGrid .aboutPoints {
  padding: 15px;
  margin: 10px 15px;
  background-color: rgba(248, 233, 145, 0.7294117647);
  border-radius: 15px;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.small-container-about.roundedGrid .aboutPoints span {
  color: #3e3e3e;
  font-family: "Poppins", sans-serif;
  font-size: 15px !important;
}

.aboutMyself {
  color: #3e3e3e;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  line-height: 1.75;
}

.aboutMe {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Volkorn", serif;
  color: #0047ab;
  font-size: 28px;
  text-align: justify;
  letter-spacing: -1.5px;
}
@media (max-width: 767px) {
  .aboutMe {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 23px;
  }
  .aboutMe .small-container span {
    font-size: 30px !important;
  }
}
.aboutMe img {
  width: 130px;
  margin-top: 15px;
}

.experienceSection {
  background-color: #0047ab;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .experienceSection {
    height: 20vh;
  }
}
.experienceSection .experienceText {
  color: #FFF;
  font-family: "Volkorn", serif;
  font-size: 70px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .experienceSection .experienceText {
    font-size: 50px;
  }
}

.cvInfo {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .cvInfo {
    flex-direction: column;
  }
}

.cvDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.cvDetails .cvInfo .date {
  font-family: "Volkorn", serif;
  color: #0047ab;
  font-size: 10px;
  letter-spacing: -1.5px;
}
@media (max-width: 767px) {
  .cvDetails .cvInfo .date {
    font-size: 15px;
  }
}
.cvDetails .cvInfo .date h2 {
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 25px;
}
@media (max-width: 767px) {
  .cvDetails .cvInfo .date .cvDetailInfo p {
    font-size: 10px !important;
  }
}
.cvDetails .pdfDownload {
  margin-top: 15px;
}
.cvDetails .pdfDownload :hover {
  color: #3e3e3e;
}
.cvDetails a {
  color: #0047ab;
  text-decoration: none;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}
.cvDetails .cvDetailInfo p {
  font-family: "Poppins", sans-serif;
  color: #3e3e3e;
  font-size: 14px;
  margin-top: 10px;
  padding: 0;
}
.cvDetails hr.divider {
  border-top: solid rgba(0, 71, 171, 0.2588235294) 0.5px;
  margin-top: 25px;
}
.cvDetails img {
  width: 130px;
}

.experienceCards {
  border: 2px solid #0047ab;
  border-radius: 25px 10px;
  padding: 15px;
  margin-top: 25px;
  width: 300px;
  height: 400px;
}
@media (max-width: 1023px) {
  .experienceCards {
    height: 200px;
  }
}

.portfolio {
  background-color: #0047ab;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Volkorn", serif;
  font-size: 28px;
  letter-spacing: -1.5px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolioSection {
  background-color: #FFF;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.portfolioSection .portfolioText {
  color: #0047ab;
  font-family: "Volkorn", serif;
  font-size: 60px;
  font-weight: 600;
  -webkit-text-stroke: 1.5px #0047ab;
  -webkit-text-fill-color: transparent;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  align-items: center;
  font-family: "Lobster", cursive;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .box-container {
    margin-top: 40px;
    grid-template-columns: 1fr !important;
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .box-container {
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    align-content: center;
  }
}

.box {
  position: relative;
  width: 250px;
  height: 300px;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 5px 2px 11px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.box:hover {
  transform: scale(1.1);
  box-shadow: 8px 5px 6px 2px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .box.boxDown {
    position: relative;
    top: 20px;
  }
}
.box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.box .caption > * {
  padding: 0.9rem 1rem;
}
.box .caption .content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.box .caption .content span {
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.box .caption .content small {
  font-size: 11px;
  letter-spacing: 1.5;
  font-family: "Poppins", sans-serif;
  color: #3e3e3e;
}

@media (min-width: 1200px) {
  .box-container > .box {
    flex: 20%;
  }
}
.box1 .caption {
  background: #ffffff;
  color: #0047ab;
}

#topButton {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  left: 90%;
  z-index: 99;
  font-size: 18px;
  border: none;
  width: 40px;
  height: 40px;
  outline: none;
  background-color: rgba(0, 71, 171, 0.2588235294);
  color: #FFF;
  cursor: pointer;
  border-radius: 50%;
  margin: 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#topButton i {
  margin: 0;
  padding: 0;
}

#topButton:hover {
  background-color: #FFF;
  border: #0047ab solid;
  color: #0047ab;
}

.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #0047ab;
}
.contactMe img {
  width: 50px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
  /* Modal Content/Box */
  /* The Close Button (x) */
  /* Add Zoom Animation */
  /* Change styles for span and cancel button on extra small screens */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 10px;
  position: relative;
  left: 0;
  top: 80%;
  width: 250px;
  height: 250px;
}
@media (max-width: 540px) {
  .modal .modal-content {
    top: 85% !important;
  }
}
.modal .modal-content .container {
  margin: 20px;
}
.modal .modal-content .container label {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #0047ab;
}
.modal .modal-content .container #soyPassword {
  margin: 5px 0;
}
.modal .modal-content .container #soySubmitButton {
  background-color: #0047ab;
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px transparent;
}
.modal .modal-content .container #soySubmitButton:hover {
  background-color: rgba(248, 233, 145, 0.7294117647);
  color: #3e3e3e;
}
.modal .modal-content .container #soyFormErrorMsg, .modal .modal-content .container #soyFormEmptyMsg {
  color: #f30000;
  font-family: "Volkorn", serif;
  font-size: 12px;
  font-weight: 600;
  display: none;
  margin-top: 0 !important;
}
.modal .close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #0047ab;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
}
.modal .close:hover,
.modal .close:focus {
  color: #3e3e3e;
  cursor: pointer;
}
.modal .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 300px) {
  .modal span.psw {
    display: block;
    float: none;
  }
  .modal .cancelbtn {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */